name: Deploy to Firebase

on:
  push:
    branches:
      - master # Ajusta esta rama a la que usas para despliegue

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3 # Actualiza a la versión 3 para asegurarte de usar Node.js 20

      - name: Setup Node.js
        uses: actions/setup-node@v3 # Actualiza a la versión 3 para asegurarte de usar Node.js 20
        with:
          node-version: "22" # Ajusta la versión de Node.js a 22

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build # Ajusta este comando según tu script de build

      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          npm install -g firebase-tools
          firebase deploy --only hosting --project edgarbaezamx
